body {
  margin: 3em;
  padding: 0;
  font-family: sans-serif;
}

.Login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20em;
  text-align: center;
}

.Patient-search {
  padding: 1em;
}

.Patient-search-input {
  width: 100% !important;
}

.Patient-table {
  margin-top: 1em;
}

.table-filter-input {
  width: 100%;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #111;
  padding: 0;
}

ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
